/* Write your CSS here */
.cart-summary-container {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}
.order-total-value {
  font-family: roboto;
  margin-bottom: 2px;
  font-size: 16px;
  color: #171f46;
}
@media screen and (min-width: 768px) {
  .order-total-value {
    font-size: 32px;
  }
}
.order-total-label {
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  color: #616e7c;
}
@media screen and (min-width: 768px) {
  .order-total-label {
    font-size: 24px;
  }
}
.total-items {
  font-family: roboto;
  margin-top: 2px;
  font-size: 12px;
  color: #616e7c;
}
@media screen and (min-width: 768px) {
  .total-items {
    font-size: 16px;
  }
}
.checkout-button {
  font-family: roboto;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background-color: #0b69ff;
  font-size: 12px;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .d-sm-none {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .d-lg-none {
    display: none;
  }
}
